<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="pi-mod" name="%contentType.pi-mod"
			base-type="org.eclipse.wst.xml.vex.ui.XmlDocument" file-extensions="pimod,doc">
		</content-type>
	</extension>
 <extension
       point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution
          id="default">
       <public
             publicId="-//PI-MOD//DTD DOC//EN"
             uri="dtd/1.0/doc.dtd">
       </public>
       <public
             publicId="-//PI-MOD//DTD MOD//EN"
             uri="dtd/1.0/pi-mod.dtd">
       </public>
       <public
             publicId="-//PI-MOD//DTD PI-Mod V1.2.1//EN"
             uri="dtd/1.2.1/pi-mod.dtd">
       </public>
    </catalogContribution>
 </extension>

   <extension
         id="doc_1_0"
         name="%doctype.doc_1_0"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            dtd="dtd/1.0/doc.dtd"
            publicId="-//PI-MOD//DTD DOC//EN"
            systemId="doc.dtd">
         <rootElement
               name="doc">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="mod_1_0"
         name="%doctype.mod_1_0"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            dtd="dtd/1.0/pi-mod.dtd"
            publicId="-//PI-MOD//DTD MOD//EN"
            systemId="pi-mod.dtd">
         <rootElement
               name="mod">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="mod_1_2_1"
         name="%doctype.mod_1_2_1"
         point="org.eclipse.wst.xml.vex.ui.doctypes">
      <doctype
            dtd="dtd/1.2.1/pi-mod.dtd"
            publicId="-//PI-MOD//DTD PI-Mod V1.2.1//EN"
            systemId="pi-mod.dtd">
         <rootElement
               name="mod">
         </rootElement>
      </doctype>
   </extension>
   <extension
         id="plain_1_0"
         name="%style.plain_1_0"
         point="org.eclipse.wst.xml.vex.ui.styles">
      <style
            css="styles/1.0/pi-mod.css">
         <doctypeRef
               publicId="-//PI-MOD//DTD DOC//EN">
         </doctypeRef>
         <doctypeRef
               publicId="-//PI-MOD//DTD MOD//EN">
         </doctypeRef>
      </style>
   </extension>

</plugin>
